<div class="col-md-4">
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">{{solicitation.status}}</strong>
      <h3 class="mb-0">{{solicitation.userService.service.description}}</h3>
      <div class="mb-1 text-muted">{{solicitation.owner.name}}</div>
      <div class="mb-1 text-muted">{{solicitation.userService.user.name}}</div>
      <ul class="list-unstyled mt-3 mb-4">
        {{#if solicitation.timeLeft}}
          <li>Faltam apenas <b>{{solicitation.timeLeft}} horas</b> para ficar pronto</li>
        {{/if}}
        <li>Quantidade solicitada: <b>{{solicitation.quantity}}</b></li>
        <li>Valor total: <b>R$ {{mult solicitation.userService.price solicitation.quantity}}</b></li>
        <li>{{solicitation.owner.address}}</li>
        <li>{{solicitation.observation}}</li>
      </ul>
      {{yield}}
    </div>
  </div>
</div>